<div class="shop-list">
  <% @shops.each do |shop| %>
    <div class="shop-card">
      <div class="shop-info">
        <h3 class="shop-name">
          <%= link_to shop.name, shop_path(shop), class: 'shop-link' %>
        </h3>
        <p class="shop-owner">Owner: <%= shop.owner.name %></p>
      </div>
      <div class="shop-action">
        <% if shop.selected_products.where(customer_id: current_user.id ).exists? %>
              <%= button_to "view plan", customer_view_plan_path, method: :get, class: "create-plan-btn" %>
        <% else %>
              <%= button_to "Create Plan", shop_path(shop), method: :get, class: "create-plan-btn" %>
        <% end %>
      </div>
    </div>
  <% end %>
</div>
